{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{book.name}}</h2>
                <p>{{book.author}}</p>
                <p>{{book.pub_date}}</p>
            </div>
            {% empty %}
            <h2>Пока книг нет</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}